In [1]:
import numpy as np
import pandas as pd

In [2]:
with open('../data/BX-Books.csv') as f:
    Books = f.readlines()
    for i in range(len(Books)):
        Books[i] = Books[i].strip('"\n').split('";"')

In [3]:
Books_df = pd.DataFrame(data = Books[1:], columns= Books[0])

In [7]:
Books_df['BookID'] = range(len(Books_df))

In [12]:
Books_df.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'BookID'],
      dtype='object')

In [19]:
Books_df = Books_df.reindex(columns=['BookID', 'ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'])

In [20]:
Books_df.to_csv('../data/data_processed/Books.csv',index= False)

In [1]:
with open('../data/BX-Users.csv') as f:
    Users = f.readlines()

In [2]:
for i in range(len(Users)):
        Users[i] = Users[i].strip('\n').split('";')
        for j in range(len(Users[i])):
                Users[i][j] = Users[i][j].replace('"','')

In [3]:
Users

[['User-ID', 'Location', 'Age'],
 ['1', 'nyc, new york, usa', 'NULL'],
 ['2', 'stockton, california, usa', '18'],
 ['3', 'moscow, yukon territory, russia', 'NULL'],
 ['4', 'porto, v.n.gaia, portugal', '17'],
 ['5', 'farnborough, hants, united kingdom', 'NULL'],
 ['6', 'santa monica, california, usa', '61'],
 ['7', 'washington, dc, usa', 'NULL'],
 ['8', 'timmins, ontario, canada', 'NULL'],
 ['9', 'germantown, tennessee, usa', 'NULL'],
 ['10', 'albacete, wisconsin, spain', '26'],
 ['11', 'melbourne, victoria, australia', '14'],
 ['12', 'fort bragg, california, usa', 'NULL'],
 ['13', 'barcelona, barcelona, spain', '26'],
 ['14', 'mediapolis, iowa, usa', 'NULL'],
 ['15', 'calgary, alberta, canada', 'NULL'],
 ['16', 'albuquerque, new mexico, usa', 'NULL'],
 ['17', 'chesapeake, virginia, usa', 'NULL'],
 ['18', 'rio de janeiro, rio de janeiro, brazil', '25'],
 ['19', 'weston, ,', '14'],
 ['20', 'langhorne, pennsylvania, usa', '19'],
 ['21', 'ferrol / spain, alabama, spain', '46'],
 ['22', 'erfurt, thueringen, germany', 'NULL'],
 ['23', 'philadelphia, pennsylvania, usa', 'NULL'],
 ['24', 'cologne, nrw, germany', '19'],
 ['25', 'oakland, california, usa', '55'],
 ['26', 'bellevue, washington, usa', 'NULL'],
 ['27', 'chicago, illinois, usa', '32'],
 ['28', 'freiburg, baden-wuerttemberg, germany', '24'],
 ['29', 'cuernavaca, alabama, mexico', '19'],
 ['30', 'anchorage, alaska, usa', '24'],
 ['31', 'shanghai, n/a, china', '20'],
 ['32', 'portland, oregon, usa', 'NULL'],
 ['33', 'costa mesa, california, usa', '34'],
 ['34', 'london, england, united kingdom', 'NULL'],
 ['35', 'grafton, wisconsin, usa', '17'],
 ['36', 'montreal, quebec, canada', '24'],
 ['37', 'san sebastian, n/a, spain', '23'],
 ['38', 'viterbo, lazio, italy', '34'],
 ['39', 'cary, north carolina, usa', 'NULL'],
 ['40', 'tonawanda, new york, usa', '32'],
 ['41', 'santee, california, usa', '14'],
 ['42', 'appleton, wisconsin, usa', '17'],
 ['43', 'mï¿½xico, mï¿½xico city, distrito federal', 'NULL'],
 ['44', 'black mountain, north carolina, usa', '51'],
 ['45', 'berlin, n/a, germany', 'NULL'],
 ['46', 'heidelberg, baden-wuerttemberg, germany', '31'],
 ['47', 'vicenza, veneto, italy', '21'],
 ['48', 'chicago, illinois, usa', 'NULL'],
 ['49', 'rome, rome, italy', 'NULL'],
 ['50', 'london, england, united kingdom', '17'],
 ['51', 'renton, washington, usa', '34'],
 ['52', 'braunschweig, niedersachsen, germany', 'NULL'],
 ['53', 'tacoma, washington, usa', 'NULL'],
 ['54', 'eubank, kentucky, usa', '44'],
 ['55', 'calgary, alberta, canada', 'NULL'],
 ['56', 'cheyenne, wyoming, usa', '24'],
 ['57', 'roma, lazio, italy', 'NULL'],
 ['58', 'edmonton, alberta, canada', 'NULL'],
 ['59', 'asheville, north carolina, usa', '23'],
 ['60', 'trieste, friuli venezia giulia, italy', 'NULL'],
 ['61', 'winfield, alabama, usa', '30'],
 ['62', 'kennewick, washington, usa', 'NULL'],
 ['63', 'nyack, new york, usa', '57'],
 ['64', 'lyon, rhone, france', '32'],
 ['65', 'n/a, n/a, australia', 'NULL'],
 ['66', 'warman, saskatchewan, canada', '30'],
 ['67', 'framingham, massachusetts, usa', '43'],
 ['68', 'montreal, quebec, canada', 'NULL'],
 ['69', 'vancouver, british columbia, canada', 'NULL'],
 ['70', 'rochester, new york, usa', '44'],
 ['71', 'toronto, ontario, canada', '24'],
 ['72', 'gloucester, england, united kingdom', '34'],
 ['73', 'wentzville, missouri, usa', 'NULL'],
 ['74', 'amsterdam, n/a, netherlands', '30'],
 ['75', 'long beach, california, usa', '37'],
 ['76', 'charleston, south carolina, usa', 'NULL'],
 ['77', 'vancouver, british columbia, canada', 'NULL'],
 ['78', 'oakland, california, usa', '18'],
 ['79', 'ottawa, ontario, canada', '20'],
 ['80', 'etobicoke, ontario, canada', 'NULL'],
 ['81', 'santa cruz, california, usa', 'NULL'],
 ['82', 'del mar, california, usa', 'NULL'],
 ['83', 'eugene, oregon, usa', 'NULL'],
 ['84', 'san diago, california, usa', 'NULL'],
 ['85', 'london, england, united kingdom', '41'],
 ['86', 'los angeles, california, usa', 'NULL'],
 ['87', 'richardson, texas, usa', 'NULL'],
 ['88', 'fayetteville, georgia, usa', 'NULL'],
 ['89', 'plano, texas, usa', '54'],
 ['90', 'powhatan, virginia, usa', '42'],
 ['91', 'toronto/newmarket, ,', 'NULL'],
 ['92', 'castellar del valles, barcelona, spain', '20'],
 ['93', 'eden, wisconsin, usa', '50'],
 ['94', 'tehran, tehran, iraq', '39'],
 ['95', 'grand island, new york, usa', 'NULL'],
 ['96', 'helsinki, alaska, finland', 'NULL'],
 ['97', 'mechanicsburg, pennsylvania, usa', 'NULL'],
 ['98', 'pukekohe, auckland, new zealand', '19'],
 ['99', 'franktown, colorado, usa', '42'],
 ['100', 'madrid, n/a, spain', '44'],
 ['101', 'nagpur, idaho, india', '26'],
 ['102', 'barcelona, n/a, spain', 'NULL'],
 ['103', 'litchfield park, arizona, usa', '53'],
 ['104', 'foxboro, massachusetts, usa', '47'],
 ['105', 'hull, england, united kingdom', '36'],
 ['106', 'rome, georgia, usa', 'NULL'],
 ['107', 'lethbridge, alberta, canada', 'NULL'],
 ['108', 'claremore, oklahoma, usa', 'NULL'],
 ['109', 'muncie, indiana, usa', '20'],
 ['110', 'peoira, illinois, usa', 'NULL'],
 ['111', 'avintes, v.n. gaia, portugal', '25'],
 ['112', 'mexico city, d.f., mexico', '32'],
 ['113', 'san francisco, california, usa', 'NULL'],
 ['114', 'ligonier, pennsylvania, usa', '57'],
 ['115', 'canton, ohio, usa', 'NULL'],
 ['116', 'burien, washington, usa', 'NULL'],
 ['117', 'ann arbor, michigan, usa', '57'],
 ['118', 'kronberg, hessen, ghana', '28'],
 ['119', 'huntington, vermont, usa', '35'],
 ['120', 'villeneuve d`ascq, nord, france', '13'],
 ['121', 'rochester, minnesota, usa', 'NULL'],
 ['122', 'charlotte, north carolina, usa', 'NULL'],
 ['123', 'ann arbor, michigan, usa', '24'],
 ['124', 'papillion, nebraska, usa', '58'],
 ['125', 'lansing, michigan, usa', '49'],
 ['126', 'eindhoven, noord-brabant, netherlands', '24'],
 ['127', 'geneva, ge, switzerland', '28'],
 ['128', 'allison park, pennsylvania, usa', 'NULL'],
 ['129', 'bloomington, minnesota, usa', '47'],
 ['130', 'roma, lazio, italy', 'NULL'],
 ['131', 'chapel hill, north carolina, usa', 'NULL'],
 ['132', 'silver spring, maryland, usa', '38'],
 ['133', 'jacksonville, florida, usa', '45'],
 ['134', 'canberra, australian capital territory, australia', 'NULL'],
 ['135', 'berkshire, new york, usa', 'NULL'],
 ['136', 'sacramento, california, usa', 'NULL'],
 ['137', 'vancouver, british columbia, canada', 'NULL'],
 ['138', 'santa, california, usa', '28'],
 ['139', 'baltimore, maryland, usa', '35'],
 ['140', 'kappelrodeck, baden-wuerttemberg, germany', '24'],
 ['141', 'darien, new york, usa', 'NULL'],
 ['142', 'derby, kansas, usa', 'NULL'],
 ['143', 'san francisco, california, usa', '26'],
 ['144', 'cape girardeau, missouri, usa', '62'],
 ['145', 'inverness, scotland, united kingdom', 'NULL'],
 ['146', 'la, california, usa', 'NULL'],
 ['147', 'west haverstraw, new york, usa', 'NULL'],
 ['148', 'essex, england, united kingdom', '63'],
 ['149', 'ljubljana, n/a, slovenia', 'NULL'],
 ['150', 'mashhad, islam, iran', '25'],
 ['151', 'darwin, northern territory, australia', 'NULL'],
 ['152', 'enschede, overijssel, netherlands', '26'],
 ['153', 'lille, nord of france, france', '24'],
 ['154', 'saskatoon, saskatchewan, canada', 'NULL'],
 ['155', 'lion, abruzzo, peru', 'NULL'],
 ['156', 'sarajevo, n/a, bosnia and herzegovina', '20'],
 ['157', 'legnano, lombardia, italy', '36'],
 ['158', 'nufringen, baden-wuerttemberg, germany', '38'],
 ['159', 'plymouth, minnesota, usa', 'NULL'],
 ['160', 'almada, n/a, portugal', '20'],
 ['161', 'lisboa, lisboa, portugal', '27'],
 ['162', 'newark, delaware, usa', 'NULL'],
 ['163', 'carlsbad, california, vietnam', 'NULL'],
 ['164', 'tuxtla gutierrez, chiapas, mexico', '33'],
 ['165', 'olympia, washington, usa', '62'],
 ['166', 'bacchus marsh, victoria, australia', '20'],
 ['167', 'helena, montana, usa', 'NULL'],
 ['168', 'sunnyvale, california, usa', '44'],
 ['169', 'arlington, virginia, usa', 'NULL'],
 ['170', 'roswell, georgia, usa', 'NULL'],
 ['171', 'itaï¿½, sï¿½o paulo, brazil', '29'],
 ['172', 'rio de janeiro, rio de janeiro, brazil', '66'],
 ['173', 'ames, iowa, usa', 'NULL'],
 ['174', 'kandy, central, sri lanka', '31'],
 ['175', 'porto, n/a, portugal', 'NULL'],
 ['176', 'london, london, united kingdom', '34'],
 ['177', 'amsterdam, n/a, netherlands', '46'],
 ['178', 'rexford, new york, usa', '28'],
 ['179', 'wazirabad, punjab, pakistan', 'NULL'],
 ['180', 'copenhagen n, n/a, denmark', 'NULL'],
 ['181', 'karachi, sindh, pakistan', 'NULL'],
 ['182', 'buitenpost, fryslï¿½n, netherlands', '36'],
 ['183', 'porto, porto, portugal', '27'],
 ['184', 'seattle, washington, usa', 'NULL'],
 ['185', 'baton rouge, louisiana, usa', '17'],
 ['186', 'jacksonville, north carolina, usa', 'NULL'],
 ['187', 'mcas futenma fpo ap okinawa, n/a, usa', '29'],
 ['188', 'portland, oregon, usa', '17'],
 ['189', 'blankenberge, n/a, belgium', '31'],
 ['190', 'wezembeek-oppem, brussels, belgium', '33'],
 ['191', 'berlin, berlin, germany', '40'],
 ['192', 'sunnyvale, california, usa', 'NULL'],
 ['193', 'mumbai, maharashtra, india', '23'],
 ['194', 'lake forest, illinois, usa', 'NULL'],
 ['195', 'chandler, arizona, usa', '23'],
 ['196', 'subang jaya, selangor darul ehsan, malaysia', '33'],
 ['197', 'brantford, ontario, canada', 'NULL'],
 ['198', 'augsburg, bayern, germany', '21'],
 ['199', 'austin, texas, usa', '38'],
 ['200', 'aberdeen, scotland, united kingdom', '27'],
 ['201', 'sharjah, sharjah, u.a.e', 'NULL'],
 ['202', 'ottawa, ontario, canada', '28'],
 ['203', 'charleston, south carolina, usa', 'NULL'],
 ['204', 'turner, oregon, usa', '15'],
 ['205', 'istanbul, victoria, turkey', '23'],
 ['206', 'versailles, ile de france, france', '60'],
 ['207', 'west bend, wisconsin, usa', 'NULL'],
 ['208', 'bremen, bremen, germany', 'NULL'],
 ['209', 'pj, selangor, malaysia', '21'],
 ['210', 'albany, new york, usa', '54'],
 ['211', 'lleida, lleida, spain', '21'],
 ['212', 'manila, n/a, philippines', '21'],
 ['213', 'gainesville, florida, usa', 'NULL'],
 ['214', 'longmont, colorado, usa', '27'],
 ['215', 'port alberni, british columbia, canada', '20'],
 ['216', 'barcelona, georgia, spain', '42'],
 ['217', 'spencer, massachusetts, usa', 'NULL'],
 ['218', 'hyderabad, alabama, india', '41'],
 ['219', 'bismark, sachsen-anhalt, greece', 'NULL'],
 ['220', 'bogota, bogota, colombia', '0'],
 ['221', 'palm beach, florida, usa', '79'],
 ['222', 'kingston, massachusetts, usa', 'NULL'],
 ['223', 'wazirabad, punjab, pakistan', 'NULL'],
 ['224', 'strafford, missouri, usa', 'NULL'],
 ['225', 'elgin, texas, usa', 'NULL'],
 ['226', 'new york, new york, usa', 'NULL'],
 ['227', 'high wycombe, bucks, united kingdom', 'NULL'],
 ['228', 'ann arbor, michigan, usa', '41'],
 ['229', 'delhi, delhi, india', '22'],
 ['230', 'ny, new york, usa', 'NULL'],
 ['231', 'mumbai, maharashtra, india', 'NULL'],
 ['232', 'mumbai, maharashtra, india', '16'],
 ['233', 'tampere, pirkanmaa, finland', 'NULL'],
 ['234', 'joensuu, n/a, finland', '25'],
 ['235', 'oeiras, lisboa, portugal', '22'],
 ['236', 's. pasadena, california, usa', 'NULL'],
 ['237', 'plymouth, minnesota, usa', '27'],
 ['238', 'guildford, surrey, united kingdom', '23'],
 ['239', 'fort worth, texas, usa', 'NULL'],
 ['240', 'brisbane, queensland, australia', '20'],
 ['241', 'auburn, alabama, usa', 'NULL'],
 ['242', 'neuffen, baden-wuerttemberg, germany', '37'],
 ['243', 'arden hills, minnesota, usa', 'NULL'],
 ['244', 'college station, texas, usa', 'NULL'],
 ['245', 'lajolla, california, usa', '31'],
 ['246', 'tananger, rogaland, norway', '16'],
 ['247', 'zografou, athens, greece', '23'],
 ['248', 'chilliwack, british columbia, canada', '15'],
 ['249', 'amsterdam, noord-holland, netherlands', '29'],
 ['250', 'minneapolis, minnesota, usa', '25'],
 ['251', 'valladolid, castilla y leï¿½n, spain', '54'],
 ['252', '13001 safat, kuwait, kuwait', '65'],
 ['253', 'milano, lombardia, italy', '28'],
 ['254', 'minneapolis, minnesota, usa', '24'],
 ['255', 'antofagasta, alabama, chile', '32'],
 ['256', 'boston, massachusetts, usa', 'NULL'],
 ['257', 'quit, quit, quit', 'NULL'],
 ['258', 'ljk, lkj, lj', 'NULL'],
 ['259', 'jacksonville, north carolina, usa', '45'],
 ['260', 'chisholm, minnesota, usa', '51'],
 ['261', 'lonsee, baden-wuerttemberg, germany', '45'],
 ['262', 'rockford, illinois, usa', '28'],
 ['263', 'houston, texas, usa', 'NULL'],
 ['264', 'taipei, n/a, taiwan', '23'],
 ['265', 'tianjin, n/a, china', '24'],
 ['266', 'kalgary, alberta, canada', 'NULL'],
 ['267', 'cleveland, ohio, usa', '29'],
 ['268', 'ï¿½rhus, \\n/a\\, denmark', 'NULL'],
 ['269', 'aarhus, jylland, denmark', 'NULL'],
 ['270', 'tawern, rheinland-pfalz, germany', 'NULL'],
 ['271', 'karachi, pakistan, pakistan', '22'],
 ['272', 'walla walla, washington, usa', '20'],
 ['273', 'snohomish, washington, usa', 'NULL'],
 ['274', 'bologna, emilia romagna, italy', '26'],
 ['275', 'calgary, alberta, canada', 'NULL'],
 ['276', 'hillsboro, oregon, usa', 'NULL'],
 ['277', 'dubbo, new south wales, australia', '15'],
 ['278', 'chicago, illinois, usa', '21'],
 ['279', 'berkshire, england, united kingdom', 'NULL'],
 ['280', 'yakima, washington, usa', 'NULL'],
 ['281', 'dresden, sachsen, germany', '31'],
 ['282', 'victoria, british columbia, canada', 'NULL'],
 ['283', 'gig harbor, washington, usa', 'NULL'],
 ['284', 'barcelona, barcelona, spain', '35'],
 ['285', 'cambridge, cambridgeshire, united kingdom', 'NULL'],
 ['286', 'seattle, washington, usa', '17'],
 ['287', 'gardena, california, usa', 'NULL'],
 ['288', 'hallowell, maine, usa', '19'],
 ['289', 'tampa, florida, usa', '15'],
 ['290', 'ravenna, ohio, usa', 'NULL'],
 ['291', 'ft. collins, colorado, usa', 'NULL'],
 ['292', 'tucson, arizona, usa', '22'],
 ['293', 'winnipeg, manitoba, canada', '25'],
 ['294', 'poway, california, usa', 'NULL'],
 ['295', 'lanham, maryland, usa', '28'],
 ['296', 'lleida, lleida, spain', '21'],
 ['297', 'daly city, california, usa', '27'],
 ['298', 'oakland, california, usa', 'NULL'],
 ['299', 'paris, paris, france', '42'],
 ['300', 'newport news, virginia, usa', 'NULL'],
 ['301', 'walled lake, michigan, usa', '32'],
 ['302', 'capitola, california, usa', '53'],
 ['303', 'poway, california, usa', 'NULL'],
 ['304', 'kailua, hawaii, usa', '24'],
 ['305', 'poway, california, usa', 'NULL'],
 ['306', 'boston, massachusetts, usa', 'NULL'],
 ['307', 'koski, uusimaa, finland', '27'],
 ['308', 'getxo, yukon territory, espaï¿½a', '53'],
 ['309', 'london, england, united kingdom', '30'],
 ['310', 'barcelona, n/a, spain', '26'],
 ['311', 'ridderkerk, n/a, netherlands', '34'],
 ['312', 'lk, jlk,', 'NULL'],
 ['313', 'rutherford, new jersey, usa', 'NULL'],
 ['314', 'ï¿½rhus, n/a, denmark', '28'],
 ['315', 'stockholm, stockholm, sweden', 'NULL'],
 ['316', 'kyle, saskatchewan, canada', '23'],
 ['317', 'tyner, north carolina, usa', '41'],
 ['318', 'berlin, n/a,', 'NULL'],
 ['319', '1407 kï¿½benhavn k, n/a, denmark', '32'],
 ['320', 'minneapolis, minnesota, usa', '37'],
 ['321', 'liaquat pur, punjab, pakistan', '24'],
 ['322', 'bergen, yukon territory, norway', 'NULL'],
 ['323', 'seattle, washington, usa', '23'],
 ['324', 'valencia, bukidnon, philippines', 'NULL'],
 ['325', 'zï¿½rich, mittelland, switzerland', 'NULL'],
 ['326', 'parkville, missouri, usa', 'NULL'],
 ['327', 'dallas, texas, usa', 'NULL'],
 ['328', 'moscow, idaho, usa', '33'],
 ['329', 'sanghar, sindh, pakistan', '21'],
 ['330', 'quezon city, n/a, philippines', 'NULL'],
 ['331', 'buenos aires, buenos aires, argentina', '60'],
 ['332', 'lake oswego, oregon, usa', '59'],
 ['333', 'barcelona, alberta, spain', '23'],
 ['334', 'jyvï¿½skylï¿½, n/a, finland', '27'],
 ['335', 'modena, emilia romagna, italy', '27'],
 ['336', 'bilbao, vizcaya, spain', '27'],
 ['337', 'mï¿½laga, n/a, spain', '17'],
 ['338', 'minneapolis, minnesota, usa', 'NULL'],
 ['339', 'tampere, pirkanmaa, finland', '20'],
 ['340', 'cebu, cebu, philippines', '15'],
 ['341', 'ormesson, ile de france, france', '50'],
 ['342', 'sokoto, niedersachsen, nigeria', '28'],
 ['343', 'mesa, arizona, usa', 'NULL'],
 ['344', 'leicester, england, united kingdom', '25'],
 ['345', 'columbia, tennessee, usa', '27'],
 ['346', 'montreal, quebec, canada', '29'],
 ['347', 'montreal, quebec, canada', '34'],
 ['348', 'berkeley, california, usa', 'NULL'],
 ['349', 'sï¿½nderborg, n/a, denmark', 'NULL'],
 ['350', 'siena, toscana, italy', 'NULL'],
 ['351', 'ankara, turkey, turkey', 'NULL'],
 ['352', 'windsor, connecticut, usa', '28'],
 ['353', 'madrid, n/a, spain', '41'],
 ['354', 'belo horizonte, minas gerais, brazil', 'NULL'],
 ['355', 'london, uk, london', 'NULL'],
 ['356', 'leesburg, virginia, usa', 'NULL'],
 ['357', 'newcastle upon  tyne, england, united kingdom', '29'],
 ['358', 'burbank, california, usa', 'NULL'],
 ['359', 'springville, california, usa', 'NULL'],
 ['360', 'barcelona, barcelona, spain', '33'],
 ['361', 'premiï¿½ de dalt, barcelona, spain', '25'],
 ['362', 'thunder bay, ontario, canada', '63'],
 ['363', 'uhingen, baden-wuerttemberg, germany', 'NULL'],
 ['364', 'aveiro, beira litoral, portugal', 'NULL'],
 ['365', 'milano, europe, italy', 'NULL'],
 ['366', 'sofia, alberta, bulgaria', 'NULL'],
 ['367', 'culver city, california, usa', '45'],
 ['368', 'west point, virginia, usa', '35'],
 ['369', 'lenexa, kansas, usa', 'NULL'],
 ['370', 'sacramento, california, usa', 'NULL'],
 ['371', 'los barriles, b.c.s., mexico', 'NULL'],
 ['372', 'bamberg, bayern, germany', '22'],
 ['373', 'vienna, vienna, austria', 'NULL'],
 ['374', 'braunschweig, niedersachsen, germany', '45'],
 ['375', 'leipzig, sachsen, germany', '28'],
 ['376', 'fishers, indiana, usa', '35'],
 ['377', 'kuala lumpur, klang, malaysia', 'NULL'],
 ['378', 'nice, california, usa', '57'],
 ['379', 'vancouver, british columbia, canada', '47'],
 ['380', 'amarillo, texas, usa', 'NULL'],
 ['381', 'fort lauderdale, florida, usa', 'NULL'],
 ['382', 'kansas city, kansas, usa', 'NULL'],
 ['383', 'carmichael, california, usa', 'NULL'],
 ['384', 'bucuresti, n/a, romania', '23'],
 ['385', 'paris, n/a, france', 'NULL'],
 ['386', 'karaj, tehran, iran', '20'],
 ['387', 'charity, missouri, usa', '17'],
 ['388', 'nashville, tennessee, usa', '35'],
 ['389', 'barcelona, catalunya, spain', '22'],
 ['390', 'chapmanville, west virginia, usa', '48'],
 ['391', 'waco, texas, usa', 'NULL'],
 ['392', 'barcelona, catalunya, spain', '44'],
 ['393', 'brighton, east sussex, united kingdom', '24'],
 ['394', 'lonodn, calabria, united kingdom', '25'],
 ['395', 'madrid, n/a, spain', '24'],
 ['396', 'jakobsberg, stockholm, sweden', 'NULL'],
 ['397', 'almada, almada, portugal', '50'],
 ['398', 'wanganui, wellington region, new zealand', 'NULL'],
 ['399', 'abuja, fct abuja, nigeria', '41'],
 ['400', 'st. louis, missouri, usa', 'NULL'],
 ['401', 'la plata, buenos aires, argentina', '28'],
 ['402', 'manchester, england, united kingdom', '19'],
 ['403', 'romeo, michigan, usa', 'NULL'],
 ['404', 'chicago, illinois, usa', '37'],
 ['405', 'berlin, berlin, germany', 'NULL'],
 ['406', 'madrid, madrid, spain', '37'],
 ['407', 'lahore, punjab, pakistan', 'NULL'],
 ['408', 'mountain view, california, usa', '17'],
 ['409', 'almada, almada, portugal', '50'],
 ['410', 'york, yorkshire, united kingdom', '40'],
 ['411', 'defiance, ohio, usa', '27'],
 ['412', 'indianapolis, indiana, usa', 'NULL'],
 ['413', 'naperville, illinois, usa', '17'],
 ['414', 'portland, oregon, usa', '34'],
 ['415', 'gilbert, arizona, usa', 'NULL'],
 ['416', 'warrington, pennsylvania, usa', '31'],
 ['417', 'downers grove, illinois, usa', 'NULL'],
 ['418', 'baltimore, maryland, usa', 'NULL'],
 ['419', 'grove city, pennsylvania, usa', '14'],
 ['420', 'canberra, australian capital territory, australia', '14'],
 ['421', 'sioux city, iowa, usa', '47'],
 ['422', 'edmonton, alberta, canada', '23'],
 ['423', 'kenilworth, england, united kingdom', 'NULL'],
 ['424', 'portland, oregon, usa', '29'],
 ['425', 'calgary, alberta, canada', '32'],
 ['426', 'san francisco, california, usa', 'NULL'],
 ['427', 'townsville, queensland, australia', 'NULL'],
 ['428', 'cleveland, ohio, usa', 'NULL'],

In [6]:
Users_df = pd.DataFrame(data = Users[1:], columns= Users[0])

In [7]:
Users_df.Age = Users_df.Age.replace('NULL',np.nan)

In [8]:
Users_df

       User-ID                            Location  Age
0            1                  nyc, new york, usa  NaN
1            2           stockton, california, usa   18
2            3     moscow, yukon territory, russia  NaN
3            4           porto, v.n.gaia, portugal   17
4            5  farnborough, hants, united kingdom  NaN
...        ...                                 ...  ...
278853  278854               portland, oregon, usa  NaN
278854  278855  tacoma, washington, united kingdom   50
278855  278856           brampton, ontario, canada  NaN
278856  278857           knoxville, tennessee, usa  NaN
278857  278858                dublin, n/a, ireland  NaN

[278858 rows x 3 columns]

In [9]:
Users_df.to_csv('../data/data_processed/Users.csv',index= False)

In [21]:
with open('../data/BX-Book-Ratings.csv') as f:
    Book_Ratings = f.readlines()
    for i in range(len(Book_Ratings)):
        Book_Ratings[i] = Book_Ratings[i].strip('"\n').split('";"')

In [22]:
Book_Ratings_df = pd.DataFrame(data = Book_Ratings[1:], columns= Book_Ratings[0])

In [23]:
Book_Ratings_df

        User-ID         ISBN Book-Rating
0        276725   034545104X           0
1        276726   0155061224           5
2        276727   0446520802           0
3        276729   052165615X           3
4        276729   0521795028           6
...         ...          ...         ...
1149775  276704   1563526298           9
1149776  276706   0679447156           0
1149777  276709   0515107662          10
1149778  276721   0590442449          10
1149779  276723  05162443314           8

[1149780 rows x 3 columns]

In [71]:
Book_Ratings_df.to_csv('../data/data_processed/Book_Ratings.csv',index= False)